@using Microsoft.FluentUI.AspNetCore.Components
@using UI.EmployerPortal.Razor.SharedComponents.NotificationBanners;
@typeparam TModel 
@using UI.EmployerPortal.Web.Features.Shared.FileUpload.Models
    <div class="frame">
        <div class="frame-inner">
                @if(State==FileUploadState.Default)
                {    <div class="frame-fileupload">
                    <div class="file-upload-row">File Upload</div>
                    <div class="upload-content">
                        <div class="upload-content-left">
                            <div class="upload-content-left-title">
                                <img src="@Assets["icons/cloud_upload.svg"]" alt="" class="cloud-icon" />
                            <strong>@Title</strong>                         
                        </div>
                            <p class="upload-content-left-filetypes">
                                Acceptable file types: 
                            @string.Join(",", AcceptableTypes.Select(type => type.Key.Replace('.', ' ')))
                            </p>
                                                  
                        </div>
                        <div id="@_dropZoneId" class="upload-content-right">
                            <img src="@Assets["icons/cloud_upload.svg"]" alt="" class="cloud-icon" />
                            <div class="drag-drop" @onclick="OpenFileDialog">
                                <span>Drag and drop your file, or &nbsp;<span class="browse-link">browse</span><br />The file must be 20MB or smaller</span>
                            </div>
                            <InputFile @ref="_inputFiles"
                                       id="@_inPutId"
                                       OnChange="@HandleFileSelected" multiple hidden></InputFile>
                        </div>
                    </div>
                    </div>
               }
       else if(State==FileUploadState.Uploading)
       {
               <div class="frame-fileupload">
                    <div class="file-upload-row">File is in process of getting uploaded</div>
                    <div class="upload-content">
                        <div class="upload-content-left">
                            <div class="upload-content-left-title">
                                <img src="@Assets["icons/cloud_upload.svg"]" alt="" class="cloud-icon" />
                                <strong>@Title</strong>
                            </div>
                            <p class="upload-content-left-filetypes">
                                Acceptable file types:
                            @string.Join(",", AcceptableTypes.Select(type => type.Key.Replace('.', ' ')))
                            </p>
                            @* <a href="@ViewDetailsurl" target="_blank">View Details</a> *@
                        </div>
                <div class="upload-content-right">
                    <div class="file-copy">
                        <img src="@Assets["icons/file_copy.svg"]" alt="" class="cloud-icon" />@DisplayFileName
                        <div class="file-actions">
                        <div class="progress mt-3"><div class="progress-bar" role="progressbar" style="width:@ProgressPercent%"></div></div>
                        <button class="cancel-btn" @onclick="CancelUpload"><img src="@Assets["icons/close_small.svg"]" alt="" class="svg-icon" />Cancel</button>
                        </div>
                    </div>
                </div>
                </div>
                </div>
       }


        else if(State ==FileUploadState.Successful)
        {
            <div class="frame-fileupload">
            <div class="file-upload-row">Successful File Upload </div>
            <div class="upload-content">
            <div class="upload-content-left">
                <div class="upload-content-left-title">
                    <img src="@Assets["icons/cloud_upload.svg"]" alt="" class="cloud-icon" />
                    <strong>@Title</strong>
                </div>
                <p class="upload-content-left-filetypes">
                    Acceptable file types:
                            @string.Join(",", AcceptableTypes.Select(type => type.Key.Replace('.', ' ')))
                </p>
                @* <a href="@ViewDetailsurl" target="_blank">View Details</a> *@

            </div>
           
                       <div class="upload-content-right">
                        <div class="upload-content-right-button">
                            <img src="@Assets["icons/file_copy.svg"]" alt="" class="cloud-icon" />@DisplayFileName
                    <div class="btn-row">
                        <button class="btn btn-reupload" @onclick="ReUpload"><img src="@Assets["icons/cloud_upload_small.svg"]" alt="" class="svg-icon" />ReUpload</button>
                        <button class="btn btn-download" @onclick="DownloadFile"><img src="@Assets["icons/cloud_download.svg"]" alt="" class="svg-icon" />Download</button>
                        <button class="btn btn-remove" @onclick="RemoveFile"><img src="@Assets["icons/delete.svg"]" alt="" class="svg-icon" />Remove</button>
                     </div>                     
                    </div>
                 </div>

             </div>
            </div>
         }
         
        else if(State ==FileUploadState.ErrorsMustFix)
        {
            <div class="frame-fileupload">
            <div class="file-upload-row">Successful File Upload </div>
            <div class="upload-content">
            <div class="upload-content-left">
                <div class="upload-content-left-title">
                    <img src="@Assets["icons/cloud_upload.svg"]" alt="" class="cloud-icon" />
                    <strong>@Title</strong>
                </div>
                <p class="upload-content-left-filetypes">
                    Acceptable file types:
                            @string.Join(",", AcceptableTypes.Select(type => type.Key.Replace('.', ' ')))
                </p>
               @* <a href="@ViewDetailsurl" target="_blank">View Details</a>*@

            </div>
            <div class="upload-content-right">
                        <div class="upload-content-right-button">
                    <div class="btn-row">
                        <button class="btn btn-reupload" @onclick="ReUpload"><img src="@Assets["icons/cloud_upload_small.svg"]" alt="" class="svg-icon" />ReUpload</button>
                        <button class="btn btn-download" @onclick="DownloadFile"><img src="@Assets["icons/cloud_download.svg"]" alt="" class="svg-icon" />Download</button>
                        <button class="btn btn-remove" @onclick="RemoveFile"><img src="@Assets["icons/delete.svg"]" alt="" class="svg-icon" />Remove</button>
                      </div>
                      <div class="btn-row">
                          <NotificationBanner NotificationType="NotificationType.Alert"
                                          Title="Upload is Unsuccessful"
                                          Message="Please correct the errors">
                    </NotificationBanner>
                    </div>
                               
                    </div>
                 </div>
                
             </div>
            </div>
         }
</div>
</div>

