@using UI.EmployerPortal.Razor.SharedComponents.Validation
@using UI.EmployerPortal.Web.Features.EmployerRegistration.Models
@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
<div class="form-group @(ValidationErrors.Contains($"Ownership Type is required.") ? "master-text-field--error" : "")">
    <label for="@Id" class="form-label @(ValidationErrors.Contains($"Ownership Type is required.") ? "master-label--error" : "")">
        @Label
    </label>
    <InputSelect id="@Id"
                 class="@($"form-select form-select-medium {(ValidationErrors.Contains($"Ownership Type is required.") ? "input-validation-error" : "")}")"
                 @bind-Value="Value"
                 @bind-Value:after="OnValueChanged"
                 disabled="@Disabled">
        <option value="@OwnershipType.None">Select Ownership Type</option>
        @foreach (var ownershipType in typeof(OwnershipType).GetFields(BindingFlags.Public |
                                            BindingFlags.Static).Select(f => (OwnershipType?)f.GetValue(null)))
        {
            @if (ownershipType != OwnershipType.None)
            {
                <option value="@ownershipType">@GetDisplayName(ownershipType ?? @OwnershipType.None)</option>
            }
        }
    </InputSelect>

    @if (IsRequired && ValidationErrors.Contains("Ownership Type is required."))
    {
        <ValidationError ErrorMessage="Ownership Type is required" ErrorId="@ErrorId" />
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "ownership-type";

    [Parameter]
    public string Label { get; set; } = "Ownership Type";

    [Parameter]
    public OwnershipType Value { get; set; } = OwnershipType.None;

    [Parameter]
    public EventCallback<OwnershipType> ValueChanged { get; set; }

    [Parameter]
    public bool IsRequired { get; set; } = true;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string CssClass { get; set; } = string.Empty;

    [Parameter]
    public List<string> ValidationErrors { get; set; } = [];

    private string ErrorId => $"{Id}-error";

    private void OnValueChanged()
    {
        _ = ValueChanged.InvokeAsync(Value);
    }

    private string ErrorCss => ValidationErrors.Contains($"Ownership Type") ? "input-validation-error" : "";

    private string GetDisplayName(Enum value){
        return value.GetType().GetMember(value.ToString()).First().GetCustomAttribute<DisplayAttribute>()?.GetName() ?? value.ToString();
    }
}
